logging:
  level:
    root: INFO

spring:
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
      generate-ddl: true
      

  datasource:
    url: 
    username: 
    password: 

  servlet:
    multipart:
      enabled: true
      file-size-threshold: 2KB
      max-file-size: 200MB
      max-request-size: 215MB
  liquibase:
    enabled: true
    change-log: liquibase-changeLog.xml

com:
 nitor:
    cognitostarter:
      jwt:
        aws:
          userPoolId: ap-south-1_SeHDV6IZo
          region: ap-south-1

aws:
  s3:
    bucket:
